$aside-spacing = 86px;
$block-x-padding = 48px;
$block-y-padding = 48px;
$video-y-padding = 74;
$text-y-margin = 28px;
$main-column-maxw = 1024px;
$main-column-minw = 760px;
$maxwidth-coef = unit($main-column-maxw, '') / 100;

$fs-s-size = 13px;
$fs-base = 16px;
$fs-m-size = 18px;
$fs-l-size = 20px;
$fs-xl-size = 24px;

$font-color = #ededed;
$color-yellow = #d8e09b
$color-bg = #1A1E25

html,
body {
	padding: 0;
	margin: 0;
	font-size: $fs-base;
	min-height: 100%;
	font: normal $fs-base/1.45 'Gill Sans', Calibri, Tahoma, Verdana, sans-serif;
	background: $color-bg url("../img/Back.png") repeat;
	background-size: 322px 316px;
	color: $font-color;
	-webkit-font-smoothing: antialiased;
}
/* Gill Sans not support 'garumzimes' */
html.__lv body {
	font: normal $fs-base/1.45 Calibri, Tahoma, Verdana, sans-serif;
	}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.wrapper {
	min-width $main-column-minw;
	}

.header {
	max-width: 100%;
	width: 100%;
	position: relative;
	}
	.header:before {
		content '';
		display block;
		padding-bottom: (1487/19.20)%
		background-color: transparent;s
		background-image: url("../img/Logo.png"), url("../img/Gradient.png"), url("../img/Head.jpg");
		background-repeat: no-repeat;
		background-size: 50% 50%, contain, cover;
		background-position: 50% 74%, 50% 100%, 0 0;
	}

	.header_langs {
		position: absolute;
		top: 24px;
		left: 0;
		right: 0;
		text-align center;
		}
		.header_langs_link {
			font-size: 14px;
			display: inline-block;
			padding: 8px 8px;
			margin: 0 8px;
			color: currentColor;
			border-radius: 50px;
			background: #1A1E1F;
			}
			.header_langs_link:hover {
				color: #C23229;
				background: white;
				transition: background-color .15s ease-in 0s, color .1s ease-in 0s;
			}

.content_wrapper,
.video_player {
	max-width: $main-column-maxw;
	min-width: $main-column-minw;
	margin: auto;
	}

.content_wrapper,
.video_player {
	padding-left: $aside-spacing;
	padding-right: @padding-left;
	box-sizing border-box;
}

.content,
.footer {
	width: 100%
}


.content,
.video_player {
	box-sizing: border-box;
}

.content {
	position: relative;
	z-index 0;
	margin-top: $text-y-margin;
	margin-bottom: @margin-top;
	padding: $block-y-padding $block-x-padding;
	background-color: rgba(18, 20, 25, 0.53);
	}

/* Video */
.video {
	position: relative;
	text-align: center;
	background-color: #000;
	}
	.video-decor-foot {
		position: absolute;
		top: 100%;
		width: 100%;
		text-align center;
		}
		.video-decor-foot:after {
			content '';
			display: inline-block;
			width: 100%;
			max-width: $main-column-maxw;
			min-width: $main-column-minw;
			padding-bottom: (152/10.24)%;

			background: transparent url(../img/Back-after-video.png) no-repeat;
			background-position: 50% 0;
			background-size: contain;
			}

.video_player {
	padding-top: ($video-y-padding/$maxwidth-coef)%;
	padding-bottom: @padding-top;
	}

	.video_player_obj {
		width: 100%;
		padding-left: $block-x-padding;
		padding-right: @padding-left;
		box-sizing border-box;
		outline-color: transparent;
		}

/* /Video */
.description {
	margin: $text-y-margin 0;
	text-align: center;
	}
	.description.__head-text {
		font-weight: 600;
		line-height: 32px;
	}
	.description.__emphased {
		text-align center;
		}
	.description:first-child {
		margin-top: 0;
		}
	.description:last-child {
		margin-bottom: 0;
		}

.description_head {
	text-align center;
	margin: $text-y-margin 0 4px;
}

.description_text {}

.content_poster {
	margin-left: -($block-x-padding);
	margin-right: -($block-x-padding);
	background-image: url("../img/asset3.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.content_poster_img {
	width: 100%;
	visibility: hidden;
	display: block;
}

.timetable_header {
	font-size: $fs-base;
	margin-top: 0;
}

.timetable_list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.timetable_list_i {
	display: flex;
	margin: auto;
	width: 60%;
	max-width: 65%;
}

.timetable_list_i_txt {
	width: 33.3%;
	margin: 4px 0;
	flex-grow: 1;
	flex-shrink: 0;
}

.timetable_list_i_txt.__time {
	text-align: right;
}

.timetable_list_i_txt.__divider {
	text-align: center;
	flex: 0 0 30%;
	}

.timetable_list_i_txt.__description {
	text-align: left;
	min-width: 0;
	flex-basis: 50%;
}

/* Content footer
---------------------------------------------------------------------------------- */
.footer_logo {
	display: block;
	margin: auto;
}

.footer_text {
	font-size: 0;
	margin: $text-y-margin 0 2 *$text-y-margin;
	font-family: "Arial Rounded MT Bold", "Comic Sans MS", sans-serif;
	}

	.footer_text_contacts {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 24px;
		box-sizing: border-box;
		font-size: $fs-xl-size;
		text-align center;
		}

/* /Content footer
---------------------------------------------------------------------------------- */
.-g-colorize {
	color: $color-yellow;
}

.-g-uppercase {
	text-transform: uppercase;
}

.-g-bold {
	font-weight: bold;
}

.-g-fsize-q05 {
	font-size: 1.125em;
}

.-g-fsize-q1 {
	font-size: 1.25em;
}

.-g-fsize-q2 {
	font-size: 1.5em;
}

.-g-fsize-q3 {
	font-size: 1.75em;
}

.-g-fsize-q4 {
	font-size: 2em;
}

#root .aria-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
